
*.dll
*.pdb
Debug/database/abc.rus
Debug/database/end.rus
Debug/database/endnum.rus
Debug/database/siktable.rus
Debug/database/stem.rus
Debug/IIS1.exe
Debug/IIS1.ilk
Debug/stems.txt
IIS1/Debug/Application.obj
IIS1/Debug/DictionaryManager.obj
IIS1/Debug/EditorialDistance.obj
IIS1/Debug/EnglishStemmer.obj
IIS1/Debug/ETSLayout.obj
IIS1/Debug/IIS1.Build.CppClean.log
IIS1/Debug/IIS1.log
IIS1/Debug/IIS1.res
IIS1/Debug/IIS1.tlog/CL.command.1.tlog
IIS1/Debug/IIS1.tlog/CL.read.1.tlog
IIS1/Debug/IIS1.tlog/CL.write.1.tlog
IIS1/Debug/IIS1.tlog/IIS1.lastbuildstate
IIS1/Debug/IIS1.tlog/link.command.1.tlog
IIS1/Debug/IIS1.tlog/link.read.1.tlog
IIS1/Debug/IIS1.tlog/link.write.1.tlog
IIS1/Debug/IIS1.tlog/rc.command.1.tlog
IIS1/Debug/IIS1.tlog/rc.read.1.tlog
IIS1/Debug/IIS1.tlog/rc.write.1.tlog
IIS1/Debug/Lab2Window.obj
IIS1/Debug/Lab3Window.obj
IIS1/Debug/LabWindow.obj
IIS1/Debug/LibraryManager.obj
IIS1/Debug/MainWindow.obj
IIS1/Debug/RussianStemmer.obj
IIS1/Debug/StemmerFactory.obj
IIS1/Debug/vc141.idb
IIS1/Debug/WordInfo.obj
IIS1/Debug/WordInfoPract.obj
IIS1/Release/Application.obj
IIS1/Release/DictionaryManager.obj
IIS1/Release/EditorialDistance.obj
IIS1/Release/EnglishStemmer.obj
IIS1/Release/ETSLayout.obj
IIS1/Release/IIS1.Build.CppClean.log
IIS1/Release/IIS1.log
IIS1/Release/IIS1.res
IIS1/Release/IIS1.tlog/CL.command.1.tlog
IIS1/Release/IIS1.tlog/CL.read.1.tlog
IIS1/Release/IIS1.tlog/CL.write.1.tlog
IIS1/Release/IIS1.tlog/IIS1.lastbuildstate
IIS1/Release/IIS1.tlog/IIS1.write.1u.tlog
IIS1/Release/IIS1.tlog/link.command.1.tlog
IIS1/Release/IIS1.tlog/link.read.1.tlog
IIS1/Release/IIS1.tlog/link.write.1.tlog
IIS1/Release/IIS1.tlog/rc.command.1.tlog
IIS1/Release/IIS1.tlog/rc.read.1.tlog
IIS1/Release/IIS1.tlog/rc.write.1.tlog
IIS1/Release/Lab2Window.obj
IIS1/Release/Lab3Window.obj
IIS1/Release/LabWindow.obj
IIS1/Release/LibraryManager.obj
IIS1/Release/MainWindow.obj
IIS1/Release/RussianStemmer.obj
IIS1/Release/StemmerFactory.obj
IIS1/Release/vcpkg.applocal.log
IIS1/Release/WordInfo.obj
IIS1/Release/WordInfoPract.obj
packages/vcpkg.C.vcpkg.1.0.0/build/native/vcpkg.C.vcpkg.props
packages/vcpkg.C.vcpkg.1.0.0/build/native/vcpkg.C.vcpkg.targets
packages/vcpkg.C.vcpkg.1.0.0/vcpkg.C.vcpkg.1.0.0.nupkg
Release/database/abc.rus
Release/database/end.rus
Release/database/endnum.rus
Release/database/siktable.rus
Release/database/stem.rus
Release/IIS1.exe
Release/IIS1.iobj
Release/IIS1.ipdb
Release/stems.txt
IIS1/Release/*
IIS1/x64/*
.vs/*
